<!-- <a href="/about">About</a> -->





	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="section">
					<div class="section-title">
						<h1>Posts</h1>
					</div>
					<div class="section-body">
						<p>Lorem ipsum</p>
					</div>
					<div class="section-footer">
						<a href="" class="btn btn-primary">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="section">
					<div class="section-title">
						<h1>About</h1>
					</div>
					<div class="section-body">
						<p>Lorem ipsum</p>
					</div>
					<div class="section-footer">
						<a href="" class="btn btn-primary">Read more</a>
					</div>
				</div>
			</div>
			<!-- <div class="col-md-4">
				<div class="section">
					<div class="section-title">
						<h1>Contact me</h1>
					</div>
					<div class="section-body">
						<p>Lorem ipsum</p>
					</div>
					<div class="section-footer">
						<a href="" class="btn btn-primary">Read more</a>
					</div>
				</div>
			</div> -->
		</div>

		<div class="section">
			<div class="section-title">
				<h1>Latest Posts</h1>
			</div>
			<div class="section-body">
				<ul class="main-list">
					<li><a href=""> <img src="/images/angularjs.png">AngularJS</a></li>
					<li><a href=""> <img src="/images/nodejs.png">NodeJS</a></li>
				</ul>
			</div>
			<div class="section-footer">
				<a href="" class="btn btn-primary">Read more</a>
			</div>
		</div> <!-- end of latest posts -->

		<div class="section">
			<div class="section-title">
				<h1>Categories</h1>
			</div>
			<div class="section-body">
				<ul class="main-list">
					<li><a href=""> <img src="/images/angularjs.png"> Angular.js</a></li>
					<li><a href=""> <img src="/images/angularjs.png"> Node.js</a></li>
				</ul>
			</div>
			<div class="section-footer">
				<a href="" class="btn btn-primary">Read more</a>
			</div>
		</div> <!-- end of categories -->

	</div> <!-- end of container -->
