<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New AngularJS App using RequireJS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- inject:css -->
    <link rel="stylesheet" href="/stylesheets/hHbbu.css"/>
    <!-- endinject -->
</head>
<body>
	